<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio Sempre IT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <% if (error && error.length > 0){ %>
        <div class="ui main container" role="alert" style="margin-top: 20px;">
            <div class="ui red message">
                <%= error %>
            </div>
        </div>
    <% } %>
</head>
<body>
    