<% include partials/header %>

<div class="ui main container">
    <h1 class="ui header" id="header">Adicionar Novo Funcionário</h1>
</div>

<div class="ui main container">
    <form action="/funcionario" method="POST" class="ui form six wide" id="new-form">
        <h4 class="ui dividing header">Informações do Funcionário</h4>
        <div class="two fields">
            <div class="ten wide field">
                <label>Nome</label>
                <input type="text" name="funcionario[nome]" required>
            </div>
            <div class="six wide field">
                <label>Cargo</label>
                <input type="text" name="funcionario[cargo]" required>
            </div>
        </div>
        <div class="two fields">
            <div class="ten wide field">
                <label>CPF</label>
                <input type="text" name="funcionario[cpf]" required>
            </div>
            <div class="six wide field"> 
                <label>Salário</label>
                <input type="number" name="funcionario[salario]" required>
            </div>
        </div>
        <input type="submit" class="ui blue button" value="Adicionar">
        <a href="/funcionarios" class="ui blue button">Retornar</a>
    </form>
</div>

<% include partials/footer %>